[submodule "lib/dotbot"]
	path = lib/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "lib/tpm"]
	path = lib/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/NvChad/NvChad
[submodule "config/vim"]
	path = config/vim
	url = https://github.com/amix/vimrc
[submodule "config/fzf-git"]
	path = config/fzf-git
	url = https://github.com/junegunn/fzf-git.sh
