[submodule "lib/dotbot"]
	path = lib/dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "lib/tpm"]
	path = lib/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "config/fzf-git"]
	path = config/fzf-git
	url = https://github.com/junegunn/fzf-git.sh
[submodule "config/bash-completion"]
	path = config/bash-completion
	url = https://github.com/scop/bash-completion
[submodule "config/nano-syntax-highlighting"]
	path = config/nano-syntax-highlighting
	url = https://github.com/galenguyer/nano-syntax-highlighting.git
[submodule "config/vim"]
	path = config/vim
	url = https://github.com/amix/vimrc
	ignore = untracked
[submodule "config/fzf-tab-completion"]
	path = config/fzf-tab-completion
	url = https://github.com/lincheney/fzf-tab-completion
[submodule "config/oh-my-zsh"]
	path = config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
