#####################
# Behavior Settings #
#####################

# Make new lines contain the same amount of whitespace as line above.
unset autoindent

# Use a tab size of n columns. The value of n must be greater than 0.
# The default value is 8.
set tabsize 4

# Convert typed tabs to spaces.
set tabstospaces

# Do not convert files from DOS/Mac format.
unset noconvert

# Add newlines to the ends of files.
unset nonewlines

# Make the Home key smarter. When Home is pressed anywhere but at the very
# beginning of non-whitespace characters on a line, the cursor will jump to that
# beginning (either forwards or backwards). If the cursor is already at that
# position, it will jump to the true beginning of the line.
set smarthome

####################
# Display Settings #
####################

# Constantly display the cursor position in the status bar.
# Constantly display the cursor position in the status bar. This overrides the option quickblank.
set constantshow

# Display line numbers to the left of the text area.
set linenumbers

# Use the blank line below the titlebar as extra editing space.
set morespace

# Use smooth scrolling by default.
set smooth

# Disable soft line wrapping for easier viewing of very long lines.
unset softwrap

#######################
# Syntax Highlighting #
#######################

set titlecolor blue
#set promptcolor white,black
set statuscolor green
#set errorcolor red # cronos ok
#set spotlightcolor black,lime
#set selectedcolor magenta # cronos ok
#set stripecolor yellow
#set scrollercolor cyan
set numbercolor cyan
set keycolor cyan
set functioncolor green

#include "/usr/share/nano/*.nanorc"
include "~/.config/nano/nano-syntax-highlighting/*.nanorc"
include "/usr/share/nano/makefile.nanorc"
include "/usr/share/nano/nanorc.nanorc"
include "~/epx.nanorc"

#####  Keybindings Cheatsheet  #####
## ^-Q   quit
## ^-Z   undo
## ^-Y   redo
## ^-C   copy
## ^-V   paste
## ^-X   cut
## ^-K   delete line
## ^-Bsp delete until word start (or M-Bsp)
## ^-Del delete until next word
## ^-S   save file
## M-/   comment/uncomment
## M-:   record macro
## M-;   play macro
## ^-Space autocomplete word
## ^-T     terminal (eg. "|xxd")

## M-C   show cursor position
## ^-L   refresh and center at cursor
## ^-W   search forwards (= M-W with prompt)
## ^-E   search backwards (= M-E with prompt)
## ^-R   replace
## ^_    goto line number
## ^-Up  goto previous block
## ^-Dwn goto next block
## M-]   goto matching bracket
## ^-G   goto head of file (vim-like)
## M-G   goto end of file
## M-Up  scroll screen up
## M-Dwn scroll screen down
## M-Left  switch to previous file
## M-Rght  switch to next file
## M-Ins   insert anchor
## M-PgDwn goto next anchor

bind ^Q   exit          all
bind M-Z  suspend       main
#bind M-U  undo          main
#bind M-R  redo          main
unbind ^Y all
bind ^Z   undo         main
bind ^Y   redo          main
#bind ^C   copy          main
#bind ^V   paste         main
bind ^X   cut           main
#bind ^K   zap           main
#bind ^H   chopwordleft  all
bind M-/  comment       main
bind ^Space complete    main

#bind M-C  location      main
#bind ^E   wherewas      all # cronos ok
bind M-E  findprevious  all
bind ^R   replace       main
bind ^_   gotoline      main
bind ^G   firstline     all
bind M-G  lastline      all
bind ^B   pageup        all  # vim-like support
bind ^F   pagedown      all  # vim-like support

## for macOS
#bind M-F  nextword      all  # is M-left on iTerm natural editing
#bind M-B  prevword      all
#bind M-2  anchor        main # M-Ins keystroke is hard to produce
#bind F2   nextanchor    main
#bind F3   prevanchor    main

bind M-1    help         all   # fix ^G been used
#bind Sh-M-C constantshow main  # fix M-C been used
#bind Sh-M-F formatter    main  # fix M-F and M-B might be used
#bind Sh-M-B linter       main
unbind ^J               main  # for those who rarely use justify
unbind M-J              main  # for those who rarely use justify
bind ^F     whereis      all
bind ^N     findnext     all
bind ^S     writeout     main
bind ^P     findprevious all
unbind ^D                all 

# Some inspiration
#bind ^Q exit all
#bind ^S savefile main
#bind ^W writeout main
#bind ^O insert main
#bind ^H help all
#bind ^H exit help
#bind ^F whereis all
#bind ^G findnext all
#bind ^B wherewas all
#bind ^D findprevious all
#bind ^R replace main
#bind ^X cut main
#bind ^C copy main
#bind ^V paste all
#bind ^P location main
#bind ^E execute main
#bind ^A mark main
#unbind ^K main
#unbind ^U all
#unbind ^N main
#unbind ^Y all
#unbind M-J main
#unbind M-T main
#bind ^T gotoline main
#bind ^T gotodir browser
#bind ^T cutrestoffile execute
#bind ^L linter execute
#bind M-U undo main
#bind M-R redo main
#bind ^Z undo main
#bind ^Y redo main
